@use "../../../../../../public/mixin" as *;
@use "../../../../../../public/font" as *;
::ng-deep .company-list {
  direction: ltr;
  background-color: var(--p-primary-500);
  margin-top: -2px;
  .p-carousel-item {
    .item-div {
      position: relative;
      direction: rtl;
      &:hover {
        .detail-div {
          height: 120px;
          .detail-2 {
            height: 50% !important;
            padding-block: 10px !important;
          }
          .detail-1 {
            height: 50%;
            z-index: 2;
          }
        }
      }
      .detail-div,
      .detail-1,
      .detail-2 {
        transition: 0.75s ease-in-out height, 0.75s ease-in-out padding;
        span {
          @include responsive-font-sizes(0.625rem, 0.7rem, 0.7rem, 0.7rem);
        }
      }

      .detail-div {
        opacity: 1;
        height: 60px;
        width: 100%;
        border-radius: 10px;
        .detail-1 {
          height: 100%;
          z-index: 2;
        }
        .detail-2 {
          width: 60% !important;
          height: 0;
          background-color: var(--p-primary-500);
          padding-block: 0 !important;
          border-radius: 10px;
        }
        .ellipsis-multiline {
          display: -webkit-box;
          -webkit-line-clamp: 2; /* Number of lines */
          -webkit-box-orient: vertical;
          overflow: hidden;
        }
        .ellipsis-oneline {
          display: -webkit-box;
          -webkit-line-clamp: 1; /* Number of lines */
          -webkit-box-orient: vertical;
          overflow: hidden;
        }
      }
      @include forTablet {
        .detail-div {
          width: 100%;
          right: 0;
          .detail-1 {
            width: 60%;
          }
          .detail-2 {
            width: 40% !important;
          }
        }
      }
    }
  }
}
