<div class="container-fluid full-list company-list">
    <div class="row">
        <h6 class="my-3 fw-bold text-end w-100" style="color: var(--p-primary-500);">
            {{header}}
        </h6>
        <p-carousel [value]="data" [numVisible]="5" [numScroll]="3" [circular]="false"
            [responsiveOptions]="responsiveOptions">
            <ng-template let-item #item>
                <div class="item-div mx-2 position-relative overflow-visible">
                    <div class="mb-2">
                        <div class="position-relative mx-auto"
                            style="background-color: var(--p-primary-300);height: 300px;">
                            <img class="w-100 position-relative primary-img top-0 z-0" height="300"
                                [src]="item.image[0]?.imageURL" [alt]="item.name" *ngIf="item.image && item.image[0]" />
                        </div>
                    </div>
                    <div class="row py-2 position-absolute rounded-2 detail-div z-2"
                        style="bottom: 0px;background-color: var(--p-primary-500);color: var(--p-primary-50);">
                        <div class="w-100 mb-2  d-flex flex-column justify-content-between">
                            <div class="fw-bold ellipsis-oneline">{{ item.name }}</div>
                        </div>
                        <div class="w-100">
                            <span class="ellipsis-multiline mb-4">{{item.companyDescription}}
                            </span>
                        </div>
                        <div class="d-flex flex-column px-2">
                            <span style="font-size: smaller !important;"
                                class="ellipsis-oneline text-start mt-0 mb-2 fw-bold">{{
                                item.phoneNumber}}
                            </span>
                            <span style="font-size: smaller !important;"
                                class="ellipsis-oneline text-start mt-0 mb-2 fw-bold">{{item.address}}
                            </span>
                            <span
                                class="d-flex flex-wrap flex-md-nowrap align-items-start align-items-md-center justify-content-end justify-content-md-center gap-2 align-self-end">
                                <p-button size="small" icon="pi pi-heart" severity="secondary" />
                                <p-button size="small" icon="pi pi-eye" styleClass="ml-2" [severity]="'secondary'" />
                                <p-button size="small" icon="pi pi-shopping-cart" styleClass="ml-2"
                                    [severity]="'contrast'" />
                            </span>
                        </div>
                    </div>
                </div>
            </ng-template>
        </p-carousel>
    </div>
</div>