@if(result()){
<div class="w-100  row">
    <div class="col-12 col-md-6 border-start border-2" style="border-bottom: 2px solid var(--p-surface-50);">
        <div class="w-100 d-flex justify-content-between align-items-center">
            <p style="color: var(--p-surface-50);font-weight: bold;" class="border-bottom border-2">المنتجات:</p>
            <p-button severity="contrast" size="large" [text]="true" [outlined]="true" ngClass="w-auto"
                label="رؤية المزيد .."></p-button>
        </div>
        <div class="w-100 d-flex flex-column justify-content-between align-items-center">
            @for (product of result()?.products; track $index) {
            <a (click)="onCloseMenu.emit(true)" [routerLink]="'/client/product/item/'+product.productId">
                <div class="w-100 d-flex gap-4 align-items-center p-1 product-div">
                    <img (error)="onImgError($event)" [src]="product.image" [alt]="product.productName" height="50"
                        width="50" />
                    <div class="d-flex flex-column justify-content-center">
                        <p>{{product.productName}}</p>
                        <span>{{product.minPrice | currency:(product.currencyId === 1 ? 'SYP' :
                            'USD'):'symbol':'1.2-2'}} - {{product.maxPrice | currency:(product.currencyId === 1 ? 'SYP'
                            :
                            'USD'):'symbol':'1.2-2'}} </span>
                    </div>

                </div>
            </a>
            }@empty {
            <p style="color: var(--p-surface-50);font-weight: bold;">

                لا يوجد منتجات
            </p>
            }
        </div>
    </div>
    <div class="col-12 col-md-6 mt-2" style="border-bottom: 2px solid var(--p-surface-50);">
        <div class="w-100 d-flex justify-content-between align-items-center">
            <p style="color: var(--p-surface-50);font-weight: bold;" class="border-bottom border-2">المجموعات:</p>

        </div>
        <div class="w-100 d-flex flex-column justify-content-between align-items-center">
            @for (collection of result()?.collections; track $index) {
            <a (click)="onCloseMenu.emit(true)"
                [routerLink]="'/client/product/group/collection/'+collection.collectionName+'/'+collection.collectionId">
                <div class="w-100 d-flex gap-4 align-items-center p-1 product-div">
                    <div style="width: 50px;height: 50px;"></div>
                    <p>{{collection.collectionName}} لشركة {{collection.companyName}}</p>
                </div>
            </a>
            }
            @empty {
            <p style="color: var(--p-surface-50);font-weight: bold;">

                لا يوجد مجموعات
            </p>
            }
        </div>
    </div>
    <div class="col-12 col-md-6 mt-2 border-start border-2" style="border-bottom: 2px solid var(--p-surface-50);">
        <div class="w-100 d-flex justify-content-between align-items-center">
            <p style="color: var(--p-surface-50);font-weight: bold;" class="border-bottom border-2">الفئات:</p>

        </div>
        <div class="w-100 d-flex flex-column justify-content-between align-items-center">
            @for (category of result()?.categories; track $index) {
            <a (click)="onCloseMenu.emit(true)"
                [routerLink]="'/client/product/group/category/'+category.categoryName+'/'+category.categoryId">
                <div class="w-100 d-flex gap-4 align-items-center p-1 product-div">
                    <div style="width: 50px;height: 50px;"></div>
                    <p>{{category.categoryName}}</p>
                </div>
            </a>
            }
            @empty {
            <p style="color: var(--p-surface-50);font-weight: bold;">

                لا يوجد فئات
            </p>
            }
        </div>
    </div>
    <div class="col-12 col-md-6 mt-2" style="border-bottom: 2px solid var(--p-surface-50);">
        <div class="w-100 d-flex justify-content-between align-items-center">
            <p style="color: var(--p-surface-50);font-weight: bold;" class="border-bottom border-2">الشركات:</p>
        </div>
        <div class="w-100 d-flex flex-column justify-content-between align-items-center">
            @for (company of result()?.companies; track $index) {
            <a (click)="onCloseMenu.emit(true)"
                [routerLink]="'/client/product/group/company/'+company.companyName+'/'+company.companyId">
                <div class="w-100 d-flex gap-4 align-items-center p-1 product-div">
                    <div style="width: 50px;height: 50px;"></div>
                    <p>{{company.companyName}}</p>
                </div>
            </a>
            } @empty {
            <p style="color: var(--p-surface-50);font-weight: bold;">

                لا يوجد شركات
            </p>
            }
        </div>
    </div>
</div>

}