<div class="header-container row w-full">
    <div class="col d-flex justify-content-start">
        <div class="row" style="align-items: center;">
            <div class="w-auto justify-content-start p-0 ">
                <p-button (onClick)="stateSrv.collapseSideNav()" [text]="true" styleClass="collapseButton"
                    [icon]="stateSrv.isOpenedSideNav() ? 'pi pi-angle-right' : 'pi pi-angle-left'" severity="primary" />
            </div>
            <div class="col  d-flex align-items-center p-0 ">
                <ng-container *ngIf="isBrowser; then browserView; else serverView"></ng-container>

                <!-- Client-side template with animations -->
                <ng-template #browserView>
                    <div @fade *ngIf="!isChanging()"
                        class="typewriter-container border-start border-2 border-secondary ps-4">
                        <p class="typewriter-text fw-bold">
                            {{displayText()}}
                            <span class="cursor" *ngIf="isTyping()">|</span>
                        </p>
                    </div>
                </ng-template>

                <!-- Server-side template (static) -->
                <ng-template #serverView>
                    <p>{{currentState()}}</p>
                </ng-template>
            </div>
        </div>
    </div>
    <div class="col d-flex justify-content-end">
        <p-button (onClick)="stateSrv.setIsDark(!stateSrv.isDark())"
            [icon]="stateSrv.isDark() ? 'pi pi-sun' : 'pi pi-moon'" [rounded]="true" [text]="true" severity="primary"
            [pTooltip]="stateSrv.isDark() ? 'الوضع النهاري' : 'الوضع الليلي'" />
        <p-button icon="pi pi-bell" [rounded]="true" [text]="true" severity="primary" pTooltip="الاشعارات" />
        <p-button icon="pi pi-truck" (onClick)="stateSrv.collapseCart()" [rounded]="true" [text]="true"
            severity="primary" pTooltip="الشاحنة" />
        <p-button icon="pi pi-user" (onClick)="menu.toggle($event)" [rounded]="true" [text]="true" severity="primary"
            pTooltip="الحساب" />
        <p-menu #menu [model]="items" [popup]="true" />


    </div>
</div>
<p-dialog header="تغيير كلمة السر" [modal]="true" *ngIf="visible" [(visible)]="visible" [style]="{ width: '25rem' }">
    <dynmaic-form class="dyn-frm" [scrollHeight]="'25vh'" (submit)="changePassword($event)" [display]="'flex'"
        [withBackBtn]="false" [objs]="changePasswordForm" style="width: 100%;" [justOneStep]="true"></dynmaic-form>
</p-dialog>