@if(finsih){
<div class="form-box">
    <p-card card>
        <ng-template #header>
            <div class="above">
                @if(withBackBtn && activeIndex === 0){
                <p-button class="Nbtn" pTooltip="Back" icon="pi pi-arrow-right" (click)="back()" />
                }
                @if(showSteps){
                <p-steps step [(activeIndex)]="activeIndex" [model]="stepsList" [readonly]="true"></p-steps>
                }
            </div>
        </ng-template>
        <ng-template pTemplate="content">
            <p-scrollPanel [style]="{width: '100%', height: scrollHeight}" styleClass="custombar2"
                (keydown.enter)="handleEnterKey()">
                <div style="display: flex;flex-direction: column;">
                    <div>
                        <ng-content></ng-content>
                    </div>
                    @for (key of keys;let i = $index;let first = $first; let last = $last; track $index) {
                    <div class="tab-content" id="cardPillContent">
                        @switch (activeIndex) {
                        @case (i) {
                        <ng-template class="p-fluid row p-2 animation-fade">
                            <div style="padding-top: 1.125rem;"
                                class="animation-fade d-flex align-items-center flex-wrap justify-content-start">
                                @for (obj of objs[key];let k=$index; track $index) {
                                <div class="z-field" [style.display]="obj.visible ? 'block' : 'none'"
                                    style="min-width: 30%;padding-top: 5px;">
                                    @if (obj.visible && form.controls[key] && form.get([key,obj.key])) {
                                    <div
                                        style="display: flex;max-width: 300px; justify-content: space-between; gap: -11px;margin-bottom: 20px !important;">
                                        <dynamic-input [style]="'width: 100%;'" *
                                            [FEcontrol]="isFormGroup(form.get([key,obj.key]) ?? undefined)"
                                            [object]="obj"></dynamic-input>
                                    </div>
                                    }
                                </div>
                                }
                            </div>
                        </ng-template>
                        }
                        }
                    </div>
                    }
                </div>
            </p-scrollPanel>
        </ng-template>
        <ng-template pTemplate="footer">
            <div class="button-container">
                <div class="left-buttons">
                    @if (activeIndex !== 0) {
                    <button pButton label="رجوع" icon="pi pi-angle-right"
                        (click)="back();onActiveIndexChange.emit({index:activeIndex,form:form});"></button>
                    }
                </div>
                <div class="right-buttons">
                    @if (activeIndex < stepsList.length - 1 || (activeIndex===0 && stepsList.length> 1)) {
                        <button iconPos="right" #nextBtn pButton label="التالي" icon="pi pi-angle-left"
                            [disabled]="form.controls[keys[activeIndex]].invalid"
                            (click)="activeIndex = activeIndex + 1;onActiveIndexChange.emit({index:activeIndex,form:form});"></button>
                        }
                        @if (activeIndex === stepsList.length - 1) {
                        @if (isShow) {
                        <button iconPos="right" pButton label="خروج" icon="pi pi-angle-left" (click)="exit()"></button>
                        }
                        @else if ((justOneStep || activeIndex !== 0)) {
                        <button iconPos="right" id="saveBtn" #saveBtn pButton pRipple
                            [label]="submitLabel ? submitLabel : 'حفظ'" icon="pi pi-check"
                            [disabled]="form.controls[keys[activeIndex]].invalid || disableSaveButton"
                            class="p-button-success" (click)="submitFunc()"></button>
                        }
                        }
                </div>
            </div>
        </ng-template>
    </p-card>
</div>
}