<dynamic-view [load]="tableConfig.get$" [buttons]="tableConfig.Buttons" [showHeader]="true"
    [captionButton]="tableConfig.captionButton"></dynamic-view>
<p-dialog header="تغير كلمة السر" [modal]="true" [(visible)]="resetDialogVisible" [style]="{ width: '25rem' }">
    <ng-container [ngSwitch]="step">
        <div *ngSwitchCase="1" class="d-flex flex-column w-100 gap-4 pt-4">
            <dynamic-input [style]="'width: 100%;'" [FEcontrol]="getControl('email')" [object]="objs[0]" />
            <dynamic-input [style]="'width: 100%;'" [FEcontrol]="getControl('newPassword')" [object]="objs[2]" />
            <div class="d-flex justify-content-end">

                <p-button [disabled]="!(getControl('email').value && getControl('newPassword').value)" label="التالي"
                    icon="pi pi-angle-left" [style]="{width:'100%'}" (onClick)="step=2" />
            </div>
        </div>
        <div *ngSwitchCase="2" class="d-flex flex-column w-100 gap-4 pt-4">
            <dynamic-input [style]="'width: 100%;'" [FEcontrol]="getControl('adminPassword')" [object]="objs[1]" />
            <div class="d-flex justify-content-between">
                <p-button label="رجوع" icon="pi pi-angle-right" (onClick)="step=1" />

                <p-button label="تغير" icon="pi pi-check" (onClick)="resetPassword()" />
            </div>
        </div>
    </ng-container>
</p-dialog>