<div class="h-100 d-flex flex-column justify-content-center">

    <div class="d-flex align-items-center">
        <p-button (onClick)="stateSrv.collapseCart()" class="w-auto p-0" size="small" icon="pi pi-times"
            [rounded]="true" [outlined]="true" [text]="true" severity="secondary" pTooltip="اغلاق" />
        <h6 class="fw-bold">السلة</h6>
    </div>
    <div class="h-100 w-100 overflow-y-auto d-flex flex-column justify-content-start align-items-center mt-4">
        @for (item of result?.items; track $index) {
        <a [routerLink]="'/client/product/item/'+item.productId" class="w-100 px-2 border-bottom">
            <div class="w-100 d-flex gap-4 align-items-center justify-content-between p-1 product-div pt-4">
                <img (error)="onImgError($event)" [src]="item.image" [alt]="item.variantName" height="50" width="50" />
                <span>{{item.variantName}}</span>
                <p-floatlabel variant="over" [ngStyle]="{'width':'100px'}">
                    <!-- <label [for]="item.variantName+'-quantity'">الكمية</label> -->
                    <p-inputNumber [id]="item.variantName+'-quantity'" (onInput)="isUpdate = true"
                        [(ngModel)]="item.quantity" [step]="1" [min]="0" [showButtons]="true"
                        [style]="{'width':'100%'}"></p-inputNumber>
                </p-floatlabel>
            </div>
        </a>
        }@empty {
        <p>لا يوجد منتجات في السلة</p>
        }
    </div>
    <div class="py-2 h-auto d-flex justify-content-center align-items-end gap-2 flex-wrap flex-lg-nowrap"
        style="box-shadow: -2px 0px 5px 0px var(--p-focus-ring-shadow);">
        <p-button (onClick)="clear()" [disabled]="!result" class="w-auto p-0" size="small" icon="pi pi-trash"
            [rounded]="false" severity="danger" label="افراغ" />
        <p-button (onClick)="makeItRequest()" [disabled]="!result" class="w-auto p-0" size="small"
            icon="pi pi-thumbtack" [rounded]="false" severity="success" label="تثبيت" />
        @if(result){
        <p-button (onClick)="update()" [disabled]="!isUpdate" class="w-auto p-0" size="small" icon="pi pi-check"
            [rounded]="false" severity="contrast" label="تحديث" />
        }


    </div>
</div>