<div class="container-fluid main-container">
    <div class="row">
        @if(stateSrv.isOpenedSideNav()){
        <ng-container *ngTemplateOutlet="openSidenav"></ng-container>
        }

        @if(stateSrv.isOpenedCart() || stateSrv.isOpenedNotficiation()){
        <div (ClickOutside)="onClickOutside($event)">
            @if(stateSrv.isOpenedCart() || stateSrv.isOpenedNotficiation()) {
            <div class="cart position-absolute px-0 start-0 top-0 py-2 h-100 d-flex flex-column" [@sidebarAnimation]
                style="background-color: var(--p-content-background); z-index: 999;">
                @if(stateSrv.isOpenedCart()) {
                <ng-container *ngTemplateOutlet="cartMenu"></ng-container>
                }
                @if(stateSrv.isOpenedNotficiation()) {
                <ng-container *ngTemplateOutlet="notificationMenu"></ng-container>
                }
            </div>
            }
        </div>
        }
        <div class="main-content my-2 p-0 " style="max-height: 100vh" [@contentAnimation]
            [class.col-lg-10]="stateSrv.isOpenedSideNav()" [class.col-lg-12]="!stateSrv.isOpenedSideNav()">
            <div class="row head-content mx-0 w-100" style="position: relative;">
                <header></header>
            </div>
            <div class="row rout-conent w-100 mx-0 p-2">
                <div class="rout-div mh-100 overflow-y-auto w-100 overflow-x-hidden ">
                    <router-outlet></router-outlet>
                </div>
                <div class="copyRight">
                    <img src="LogoBlue.svg" width="300" height="200" alt="">
                </div>

            </div>
        </div>
    </div>
</div>
@if(
stateSrv.isOpenedCart() ||
stateSrv.isOpenedNotficiation() ||
(stateSrv.isOpenedSideNav() && (stateSrv.screenType()=== 'mobile' ||stateSrv.screenType()=== 'tablet'))){
<div class="w-100 h-100 position-absolute start-0 top-0"
    style="background-color: var(--p-surface-700);opacity: 0.9;z-index: 998;">
</div>
}
<ng-template #openSidenav>
    <div class="sidebar vh-100 py-2 px-1" [@sidebarAnimation]>
        <sidenav></sidenav>
    </div>
</ng-template>
<ng-template #openLeftMenu>
    <div class="cart position-absolute px-0 start-0 top-0 py-2 h-100 d-flex flex-column" [@sidebarAnimation]
        style="background-color: var(--p-content-background);z-index: 999;">
        @if(stateSrv.isOpenedCart()){
        <ng-container *ngTemplateOutlet="cartMenu"></ng-container>

        }
        @if(stateSrv.isOpenedNotficiation()){
        <ng-container *ngTemplateOutlet="notificationMenu"></ng-container>
        }
    </div>
</ng-template>
<ng-template #notificationMenu>
    <notification-menu></notification-menu>
</ng-template>
<ng-template #cartMenu>
    @switch (userState.role()) {
    @case ('client') {

    <client-cart class="h-100"></client-cart>
    }
    @case ('company') {
    <comp-tasks class="h-100"></comp-tasks>

    }
    @case ('distributor') {
    <distributor-tasks></distributor-tasks>
    }
    }
</ng-template>