/* Add to your component's styles */
@use "../../../../../public/mixin" as *;

.main-container {
  position: relative;
  @include forTablet() {
    .sidebar {
      position: absolute !important;
      right: 0;
      top: 0;
      width: 75% !important;
      height: 100%;
      background-color: var(--p-content-background);
      z-index: 999 !important;
    }
    .cart {
      width: 75% !important;
    }
  }
  @include forMobile() {
    .main-content {
      .head-content {
        height: 80px !important;
      }
      .rout-conent {
        min-height: calc(100vh - 90px) !important;
        max-height: calc(100vh - 90px) !important;
      }
    }
  }
  .cart {
    width: 25%;
    box-shadow: 0px 0px 5px 0px var(--p-focus-ring-shadow);
    overflow: hidden;
  }
  .sidebar {
    width: 16.6667%;
    // transition: width 0.5s ease-in;
    overflow: hidden;
    // box-shadow: 3px 0px 7px 0px var(--p-focus-ring-shadow);
    position: relative;
    z-index: 1;
    &.collapsed {
      width: 0;
      padding: 0;
    }
  }
  .main-content {
    transition: width 0.5s ease-in;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    overflow-y: hidden;
    .head-content {
      position: relative;
      height: 40px;
      // border-bottom: 4px solid var(--p-primary-500);
      z-index: 2;
    }
    .rout-conent {
      position: relative;
      min-height: calc(100vh - 50px);
      max-height: calc(100vh - 50px);
      box-shadow: inset 0px 0px 10px -7.5px var(--p-focus-ring-shadow);
      > * {
        padding-inline: 0;
      }
      .rout-div {
        position: relative;
        height: 100%;
        z-index: 1;
      }
      .copyRight {
        position: absolute;
        width: 300px;
        opacity: 0.1;
        bottom: 25px;
        left: calc(50% - 150px);
        z-index: 0;
      }
    }
  }
}
