<dynamic-table [lazyLoading]="true" [dataKey]="'requestID'" (onLazy)="tableConfig.getSub$.next($event)"
    [load]="tableConfig.get$" [buttons]="tableConfig.Buttons" [getSeverity]="getSeverity" [showHeader]="true"
    [captionButton]="tableConfig.captionButton"></dynamic-table>
@if(assignDistributorVisible){
<p-dialog header="اسناد الطلبية لموزع" [modal]="true" [(visible)]="assignDistributorVisible"
    [style]="{ width: '25rem' }">
    <div class="d-flex flex-column gap-2 w-100">
        <p-floatlabel class="w-full md:w-56" variant="over">
            <label for="distributor-assign">اسم الموزع</label>
            <p-select [ngStyle]="{'height':'35px'}" #drop id="distributor-assign" (onChange)="drop.resetFilter()"
                [appendTo]="'body'" [options]="distributors" [filter]="true" optionLabel="name" optionValue="userId"
                [showClear]="true" [checkmark]="true"></p-select>
        </p-floatlabel>
        <p-button label="حفظ" icon="pi pi-check" severity="success"
            (onClick)="assignDistributor(drop.value);drop.clear()"></p-button>
    </div>

</p-dialog>
}
@if(itemsVisible){
<p-dialog header="المنتجات" [modal]="true" [(visible)]="itemsVisible" [style]="{ width: '60rem' }"
    (visibleChange)="clostReturnDialog($event)">
    <product-general-items [source]="items()"></product-general-items>
</p-dialog>
}
@if(usersVisible){
<p-dialog header="المستخدمين" [modal]="true" [(visible)]="usersVisible" [style]="{ width: '60rem' }"
    (visibleChange)="clostReturnDialog($event)">
    <div class="d-flex flex-column gap-4 w-100">
        <div class="w-100 p-2 d-flex flex-wrap justify-content-center gap-2" style="box-shadow: inset 0px 0px 5px 0px;">
            <!-- Client -->
            <div class="d-flex flex-column justify-content-start border border-2 shadow p-2" style="width: 30%;">
                <p class="w-100 text-center fw-bold"
                    style="background-color: var(--p-primary-500);color: var(--p-surface-50)">
                    الزبون</p>
                <ul class=" p-2" style="list-style-type: none;color: var(--p-text-color);text-wrap: auto;">
                    <li class="fw-bold border-bottom pb-2 mb-2">الاسم : {{selectedRequest()?.client?.name}}</li>
                    <li>رقم الهاتف : {{selectedRequest()?.client?.phoneNumber}}</li>
                    <li>الموقع : {{selectedRequest()?.client?.address}}</li>
                </ul>
            </div>
            <!-- distributor -->
            @if (selectedRequest()?.distributor?.name) {
            <div class="d-flex flex-column justify-content-start border border-2 shadow p-2" style="width: 30%;">
                <p class="w-100 text-center fw-bold"
                    style="background-color: var(--p-primary-500);color: var(--p-surface-50)">
                    الموزع</p>
                <ul class=" p-2" style="list-style-type: none;color: var(--p-text-color);text-wrap: auto;">
                    <li class="fw-bold border-bottom pb-2 mb-2">الاسم : {{selectedRequest()?.distributor?.name}}</li>
                    <li>رقم الهاتف : {{selectedRequest()?.distributor?.phoneNumber}}</li>
                </ul>
            </div>
            }
        </div>
    </div>
</p-dialog>
}
@if(reviewVisible && selectedRequest()?.reviews){
<p-dialog header="التقييم" [modal]="true" [(visible)]="reviewVisible" [style]="{ width: '60rem' }"
    (visibleChange)="clostReturnDialog($event)">
    <review-detail [reviewDetails]="selectedRequest()?.reviews ?? null"></review-detail>
</p-dialog>
}