<div *ngIf="!loading" class="d-flex flex-column align-items-center w-100 p-0">
    <ng-container [ngSwitch]="step">
        <div *ngSwitchCase="1" class="d-flex flex-column w-75 gap-4 pt-4">
            <dynamic-input [style]="'width: 100%;'" [FEcontrol]="getControl('preferredVerificationMethod')"
                [object]="objs[0]"></dynamic-input>
            <dynamic-input *ngIf="objs[1].visible" [style]="'width: 100%;'" [FEcontrol]="getControl('email')"
                [object]="objs[1]"></dynamic-input>
            <dynamic-input *ngIf="objs[2].visible" [style]="'width: 100%;'" [FEcontrol]="getControl('phoneNumber')"
                [object]="objs[2]"></dynamic-input>
            <p-button label="ارسال التاكيد" [disabled]="ifValid()" icon="pi pi-send" styleClass="w-100"
                [style]="{width:'100%'}" (onClick)="sentCode()" />
        </div>
        <div *ngSwitchCase="2" class="d-flex flex-column w-75 gap-4 pt-4">
            <dynamic-input [style]="'width: 100%;'" [FEcontrol]="getControl('code')" [object]="objs[3]"></dynamic-input>
            <p-button label="التحقق" [disabled]="getControl('code').invalid" icon="pi pi-check" styleClass="w-100"
                [style]="{width:'100%'}" (onClick)="verfication()" />
        </div>
        <div *ngSwitchCase="3" class="d-flex flex-column w-75 gap-4 pt-4">
            <dynamic-input [style]="'width: 100%;'" [FEcontrol]="getControl('newPassword')"
                [object]="objs[4]"></dynamic-input>
            <p-button label="تغيير كلمة السر" [disabled]="getControl('newPassword').invalid" icon="pi pi-check"
                styleClass="w-100" [style]="{width:'100%'}" (onClick)="resetPassword()" />
        </div>
    </ng-container>
    <div class="d-flex flex-column w-75 gap-1 pt-2 pt-lg-2">
        <p-button label="تسجيل الدخول" icon="pi pi-sign-in" [variant]="'text'" styleClass="w-100"
            [style]="{width:'100%'}" (onClick)="login()" />

    </div>
</div>
<div *ngIf="loading" class="w-100 overflow-hidden">
    <loading />
</div>