@use "../../../../../public/animation" as *;
tr {
  // display: flex;
  border-bottom: 1px solid;
  transition: background-color 0.2s ease-in-out;

  th,
  td {
    max-width: 300px;
    min-width: 200px;
    padding-block: 10px !important;
    padding-inline: 20px !important;
    border: 0;

    // display: flex;
    // align-items: center;
    > div:not(.button-cell) {
      display: flex;
      justify-content: left;
    }
    .text-green-500 {
      color: green;
    }
    .text-red-500 {
      color: red;
    }
    * {
      white-space: pre-wrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  th {
    small {
      display: flex;
      width: 100%;
      text-wrap: auto;
      padding-inline: 5px;
    }
  }
  td {
    border-right: 0.5px solid;
    ::ng-deep .p-toggleswitch-slider {
      position: relative;
    }
  }
  .bool-cell {
    justify-content: center !important;
  }
}
::ng-deep .p-datatable-table-container table {
  .p-datatable-tbody > tr > td:nth-child(1),
  .p-datatable-thead > tr > th:nth-child(1) {
    position: sticky;
    right: 0;
    border-left: 1px solid;
    background: var(--p-content-background);
    z-index: 1;
  }
  .p-datatable-thead > tr > th:nth-child(1) {
    z-index: 999;
    top: 0;
  }
  // width: 100% !important;
  min-width: 100% !important;
  table-layout: auto !important;
  .p-button {
    padding: 0;
  }
}
::ng-deep .p-toolbar-start,
::ng-deep .p-toolbar-end {
  gap: 10px;
}
::ng-deep .p-datatable-mask {
  width: 100%;
  min-height: 250px;
  .p-datatable-loading-icon {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 250px;
      height: 250px;
      @include translate-animation(slideLeftIn, translateX(-50vw), translateX(50vw), 5s, 0s, ease-in-out, true);
    }
  }
}
::ng-deep .p-paginator {
  flex-wrap: nowrap;
  .p-paginator-rpp-dropdown {
    max-width: 100px;
  }
}
::ng-deep .p-datatable-table-container table .p-button {
  height: 35px;
  width: 35px;
}
::ng-deep .p-datatable-hoverable .p-datatable-tbody > tr:not(.p-datatable-row-selected):hover {
  background-color: var(--p-amber-500) !important;
  color: var(--p-text-hover-color) !important;
  box-shadow: 0px 0px 0px;
  position: relative;
}
::ng-deep .p-datatable.p-datatable-sm .p-datatable-header {
  border: 0;
}
::ng-deep .p-datatable-thead {
  box-shadow: 0px 0px 5px;
}
