<!-- <div> -->

<p-table (onContextMenuSelect)="changeVisible()" [(contextMenuSelection)]="selectedItem" [value]="body.data"
    [paginator]="true" [rowHover]="true" [rows]="25" [rowsPerPageOptions]="[5,10,25,50,100,200,500,800]"
    [scrollable]="true" [alwaysShowPaginator]="dt.value ? dt.value.length > 0 : false" [exportFilename]="tableName"
    [lazy]="lazyLoading" [size]="'small'" stripedRows (onLazyLoad)="loadCarsLazy($event)" [scrollHeight]="scrollHeight"
    (onRowExpand)="RowExpand.emit($event)" #dt sortMode="multiple" [paginatorDropdownAppendTo]="'body'"
    [columns]="body.columns" [dataKey]="dataKey" [filterDelay]="0" [totalRecords]="totalRecords" [showLoader]="false"
    [loading]="body.loading" [showLoader]="true" [rowHover]="true" [responsive]="true" [resizableColumns]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" columnResizeMode="expand"
    [showCurrentPageReport]="true" [autoLayout]="true" [globalFilterFields]="['Name']"
    [tableStyle]="{ 'min-width': '50rem'}">
    <ng-template pTemplate="caption">
        @if (showHeader) {
        <p-toolbar>
            <ng-template #start>
                @if (captionButton && captionButton.length > 0) {
                @for (btn of captionButton; track $index) {
                @if (btn && ((btn.showCommand && btn.showCommand(body.data) ) || (!btn.showCommand && true)) &&
                btn.isShow) {
                @if(btn.permission){
                <p-button size="small" [severity]="'secondary'" [pTooltip]="btn.tooltip" [icon]="btn.icon ?? ''"
                    (click)="btn.command ? btn.command(body.data) : null" />

                }@else {
                <p-button size="small" [severity]="'secondary'" [pTooltip]="btn.tooltip" [icon]="btn.icon ?? ''"
                    (click)="btn.command ? btn.command(body.data) : null" />
                }
                }
                }
                }
            </ng-template>
            <ng-template #end>
                <p-button size="small" icon="pi pi-filter" pTooltip="Use custom filters"
                    (click)="filterdMode = !filterdMode" severity="secondary" />
                <p-button size="small" icon="pi pi-filter-slash" pTooltip="Clear filters"
                    (click)="dt.clear();clearFilter()" severity="secondary" />
                @if(dt.value && dt.value.length > 0){
                <p-button size="small" pTooltip="XLS" severity="secondary" icon="pi pi-file-excel"
                    (onClick)="exportExcel()" />
                }
                <p-multiselect size="small" appendTo="body" [options]="columns" [(ngModel)]="selectedColumns"
                    placeholder="Select Columns" styleClass="w-full md:w-80" />

            </ng-template>
        </p-toolbar>
        }
    </ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr pFrozenRow>
            <th pFrozenColumn style="max-width: 250px !important;justify-content: center;">
                <div class="d-flex justify-content-center">
                    <p-button icon="pi pi-filter" [rounded]="true" [text]="true" pTooltip="Use custom filters"
                        (click)="filterdMode = !filterdMode" severity="primary" />
                    <p-button icon="pi pi-filter-slash" [rounded]="true" [text]="true" pTooltip="Clear filters"
                        (click)="dt.clear();clearFilter()" severity="secondary" />
                </div>
            </th>
            @if (imageField) {
            <th></th>
            }
            @for (col of columns; track $index) {
            @if (isSelect(col.header)) {
            <th pResizableColumn [pSortableColumn]="col.field"
                [style]="col.headerType === 'bool' ? {'justify-content':'center'} : ''">
                <div style="display: flex;align-items: center;justify-content: space-between;">
                    <small>{{col.header}}</small>
                    @if(col.headerType !== 'img'){
                    <p-sortIcon [field]="col.field"></p-sortIcon>
                    }
                </div>
            </th>
            }
            }
        </tr>
        @if (filterdMode) {
        <tr pFrozenRow>
            <th></th>
            @if (imageField) {
            <th></th>
            }
            @for (col of columns; track $index) {
            @if(isSelect(col.header)){
            <th pResizableColumn [ngClass]="col.headerType === 'bool' ? 'bool-cell' : ''"
                [style]="col.headerType === 'bool' ? {'justify-content':'center'} : ''">
                <div [class]="'filter-div ' + col.headerType">
                    @switch (col.headerType) {
                    @case ('bool') {
                    <p-columnFilter type="boolean" [matchMode]="'equals'" [field]="col.field"
                        [placeholder]="col.header"></p-columnFilter>
                    }
                    @case ('toggle') {
                    <p-columnFilter type="boolean" [matchMode]="'equals'" [field]="col.field"
                        [placeholder]="col.header"></p-columnFilter>
                    }
                    @case ('datetime') {
                    <p-columnFilter dateFormat="yy-mm-dd" type="date" [field]="col.field" [placeholder]="col.header"
                        appendTo="body"></p-columnFilter>
                    }
                    @case ('float') {
                    <p-columnFilter type="numeric" [maxFractionDigits]="2" [field]="col.field"
                        [placeholder]="col.header"></p-columnFilter>
                    }
                    @case ('int') {
                    <p-columnFilter type="numeric" [useGrouping]="false" [field]="col.field"
                        [placeholder]="col.header"></p-columnFilter>
                    }
                    @case ('currency') {
                    <p-columnFilter type="numeric" [useGrouping]="false" [field]="col.field"
                        [placeholder]="col.header"></p-columnFilter>
                    }
                    @case ('img') {

                    }@case ('json') {

                    }@default {
                    <p-columnFilter type="text" [field]="col.field" [placeholder]="col.header"></p-columnFilter>
                    }
                    }

                </div>
            </th>
            }
            }
        </tr>
        }
    </ng-template>
    <ng-template #loadingicon style="width: 100%;height: 250px;">
        <img src="IconBlue.svg" width="200" alt="">
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns" let-index let-expanded="expanded">
        @if ((dt.value ? dt.value.length > 0 : false)) {
        <tr [pContextMenuRow]="rowData" [ngStyle]="changeColor(rowData)">
            <td pFrozenColumn style="max-width: 250px !important;">
                <div class="d-flex jsutify-content-end align-items-center button-cell">
                    @if (expandedTable) {
                    <button type="button" pButton pRipple [pRowToggler]="rowData"
                        [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                    }
                    @for (btn of rowData.buttons; track $index) {
                    @if ((btn.showCommand && btn.showCommand(rowData)) || btn.isShow) {
                    @if (btn.permission) {
                    <p-button [severity]="'secondary'" [rounded]="true" [pTooltip]="btn.tooltip" [icon]="btn.icon ?? ''"
                        (click)="btn.command(rowData,rowData.buttons,dt);hitAction.emit({key:btn.key,rowDataId:rowData.Id})" />
                    }@else {
                    <p-button [severity]="'secondary'" [rounded]="true" [pTooltip]="btn.tooltip" [icon]="btn.icon ?? ''"
                        (click)="btn.command(rowData,rowData.buttons,dt);hitAction.emit({key:btn.key,rowDataId:rowData.Id})" />
                    }
                    }
                    }
                </div>
            </td>
            @if (imageField) {
            <td class="d-flex justify-content-center">
                @if(getImageValue(rowData,imageField)){
                <p-avatar [image]="getImageValue(rowData,imageField)" size="xlarge" shape="circle" />
                }@else {
                <p-skeleton shape="circle" size="64px" />
                }
            </td>
            }
            @for (col of columns; track $index) {
            @if (isSelect(col.header)) {
            <td>
                <div [ngClass]="col.headerType === 'bool' || col.headerType === 'img' ? 'bool-cell' : ''"
                    style="display: flex;" [style]="{'justify-content':getAlignment(col.field)}">
                    @if(col.headerType !== 'img'){

                    @switch (col.headerType) {
                    @case ('bool') {
                    <i class="pi"
                        [ngClass]="{'text-green-500 pi-check-circle': rowData[col.field],'text-red-500 pi-times-circle': !rowData[col.field]}"></i>
                    }
                    @case ('datetime') {
                    @if (rowData[col.field] !== null) {
                    <small>
                        {{ rowData[col.field] | date: 'dd-MM-yyyy'}}
                    </small>
                    }@else {
                    <small>
                        {{ rowData[col.field] }}
                    </small>
                    }
                    }
                    @case ('float') {
                    @if (rowData[col.field] !== null) {
                    <small>
                        {{ rowData[col.field] | number:'1.2-2'}}
                    </small>
                    }
                    }
                    @case ('currency') {
                    @if (rowData[col.field] !== null) {
                    <small>
                        {{ rowData[col.field] | number:'1.0-2'}}
                    </small>
                    }
                    }
                    @case ('json') {
                    <button pButton pRipple pTooltip="download JSON file" icon="pi pi-download"
                        (click)="downloadJSON(rowData[col.field])"></button>
                    }
                    @case ('tag') {
                    <p-tag [value]="rowData[col.field]" [severity]="getSeverity(rowData)" />
                    }
                    @case ('toggle') {
                    @if (hasToggleShow(col.field,rowData)) {
                    <p-toggleswitch [pTooltip]="rowData[col.field] ? 'True': 'False'" [(ngModel)]=" rowData[col.field]"
                        [disabled]="hasToggledisable(col.field,rowData) ?? false"
                        (onChange)="handleChange($event,col.field,rowData)"></p-toggleswitch>
                    }@else {
                    <small>
                        {{rowData[col.field]}}
                    </small>
                    }
                    }
                    @default {
                    <small>
                        {{rowData[col.field]}}
                    </small>
                    }
                    }
                    }
                </div>
            </td>
            }
            }
        </tr>
        }

    </ng-template>
    <ng-template pTemplate="rowexpansion" let-rowData>
        <ng-container *ngTemplateOutlet="rowExpansionContent; context: { item: rowData }">
        </ng-container>
    </ng-template>
    <ng-template emptymessage>
        <tr>
            @if(dt.value){
            <td colspan="5">No Items found.</td>
            }@else {
            <td colspan="5">Something Wrong!.</td>
            }
        </tr>
    </ng-template>
    <ng-template pTemplate="summary">
        <ng-content select="[footer]"></ng-content>
    </ng-template>
</p-table>
<!-- </div> -->