<dynamic-table [lazyLoading]="true" [dataKey]="'requestID'" (onLazy)="tableConfig.getSub$.next($event)"
    [load]="tableConfig.get$" [buttons]="tableConfig.Buttons" [getSeverity]="getSeverity" [showHeader]="true"
    [captionButton]="tableConfig.captionButton"></dynamic-table>
@if(changeStatusVisible){
<p-dialog header="تغيير حالة طلبية" [modal]="true" [(visible)]="changeStatusVisible" [style]="{ width: '25rem' }">
    <div class="d-flex flex-column gap-2 w-100">
        <p-floatlabel class="w-full md:w-56" variant="over">
            <label for="distributor-assign">الحالة</label>
            <p-select [ngStyle]="{'height':'35px'}" #drop id="distributor-assign" (onChange)="drop.resetFilter()"
                [appendTo]="'body'" [(ngModel)]="selectedRequestStatus" [options]="status" [filter]="true"
                optionLabel="name" optionValue="id" [showClear]="true" [checkmark]="true"></p-select>
        </p-floatlabel>
        <p-button label="حفظ" icon="pi pi-check" severity="success"
            (onClick)="changeStatus(drop.value);drop.clear()"></p-button>
    </div>

</p-dialog>
}
@if(itemsVisible){
<p-dialog header="المنتجات" [modal]="true" [(visible)]="itemsVisible" [style]="{ width: '60rem' }"
    (visibleChange)="clostReturnDialog($event)">
    <product-general-items [source]="items()"></product-general-items>
</p-dialog>
}
@if(usersVisible){
<p-dialog header="المستخدمين" [modal]="true" [(visible)]="usersVisible" [style]="{ width: '60rem' }"
    (visibleChange)="clostReturnDialog($event)">
    <users-general-items [client]="selectedRequest()?.client ?? null"
        [company]="selectedRequest()?.company ?? null"></users-general-items>
</p-dialog>
}
@if(reviewVisible && selectedRequest()?.reviews){
<p-dialog header="التقييم" [modal]="true" [(visible)]="reviewVisible" [style]="{ width: '60rem' }"
    (visibleChange)="clostReturnDialog($event)">
    <review-detail [reviewDetails]="selectedRequest()?.reviews ?? null"></review-detail>
</p-dialog>
}