<div class="container-fluid full-list">
    <div class="row d-flex justify-content-between align-items-center">
        <h6 class="my-3 fw-bold text-end w-auto" style="color: var(--p-primary-500);">
            {{header}}
        </h6>
        <p-button severity="warn" size="large" [text]="true" [outlined]="true" ngClass="w-auto" label="رؤية المزيد .."
            (onClick)="seeMoreNavigation()"></p-button>
    </div>
    <div class="row">
        <p-carousel [value]="data" [circular]="true" [numVisible]="5" [numScroll]="1"
            [responsiveOptions]="responsiveOptions">
            <ng-template let-item #item>
                <prod-general-card [product]="item"></prod-general-card>

            </ng-template>
        </p-carousel>
    </div>
</div>