@use "../../../../../../public/mixin" as *;
::ng-deep .full-list {
  .p-carousel-item-list {
    direction: ltr;
    .p-carousel-item {
      flex-grow: 0 !important;
      flex-shrink: 0 !important;
    }
  }
}
