<div class="container-fluid">
    <div class="row">
        @for (item of listToShow;let index=$index; track $index) {

        <div class="col-12 col-md-6 px-2 pb-2 ">
            <div class="glass-card rounded-3 px-3 pb-3 pt-1">

                @defer (on viewport){
                <prod-general-list [numVisible]="3" [id]="item.category.id" [data]="item.products"
                    [header]="item.category.name" />

                }@placeholder {
                <div class="w-100" style="height: 350px;"></div>
                }
            </div>
        </div>
        }
    </div>
    <div class="row">
        @defer (on viewport){

        <comp-general-list [data]="companies" [header]="'اهم الشركات'"></comp-general-list>
        }@placeholder {
        <div></div>
        }
    </div>
</div>