@if(loading){
<div class="w-100 overflow-hidden">
    <loading />
</div>
}@else {
<div class="d-flex flex-column align-items-center w-100 p-0">
    <div class="d-flex flex-column w-75 gap-4 pt-4">
        <dynamic-input [style]="'width: 100%;'" [FEcontrol]="codeControl" [object]="codeInput"></dynamic-input>
        <p-button label="تحقق" icon="pi pi-check" styleClass="w-100" [style]="{width:'100%'}"
            (onClick)="verfication()" />
        <p-button label="إعادة ارسال الكود" [text]="true" icon="pi pi-check" styleClass="w-100" [style]="{width:'100%'}"
            (onClick)="reSendCode()" />
    </div>
</div>

}