<div class="d-flex flex-column align-items-center w-100 p-0">
    <ng-container [ngSwitch]="step">
        <div class="d-flex flex-column w-75 gap-4 pt-4" *ngSwitchCase="1">
            <dynamic-input [style]="'width: 100%;'" [FEcontrol]="getControl('verificationMethod')"
                [object]="objs[0]"></dynamic-input>
            <dynamic-input *ngIf="objs[1].visible" [style]="'width: 100%;'" [FEcontrol]="getControl('email')"
                [object]="objs[1]"></dynamic-input>
            <dynamic-input *ngIf="objs[2].visible" [style]="'width: 100%;'" [FEcontrol]="getControl('phoneNumber')"
                [object]="objs[2]"></dynamic-input>
            <p-button label="ارسال" icon="pi pi-send" styleClass="w-100" [style]="{width:'100%'}" (onClick)="send()" />
        </div>
        <div class="d-flex flex-column w-75 gap-4 pt-4" *ngSwitchCase="2">
            <dynamic-input [style]="'width: 100%;'" [FEcontrol]="getControl('code')" [object]="objs[3]"></dynamic-input>
            <p-button label="تحقق" icon="pi pi-check" styleClass="w-100" [style]="{width:'100%'}"
                (onClick)="verfication()" />
        </div>

    </ng-container>
</div>
<div *ngIf="loading" class="w-100 overflow-hidden">
    <loading />
</div>