<dynamic-table [lazyLoading]="true" [dataKey]="'requestID'" (onLazy)="tableConfig.getSub$.next($event)"
    [load]="tableConfig.get$" [buttons]="tableConfig.Buttons" [getSeverity]="getSeverity" [showHeader]="true"
    [captionButton]="tableConfig.captionButton">
</dynamic-table>
@if(itemsVisible){
<p-dialog header="المنتجات" [modal]="true" [(visible)]="itemsVisible" [style]="{ width: '60rem' }"
    (visibleChange)="clostReturnDialog($event)">
    <product-general-items [source]="items()"></product-general-items>

</p-dialog>
}
@if(usersVisible){
<p-dialog header="المستخدمين" [modal]="true" [(visible)]="usersVisible" [style]="{ width: '60rem' }"
    (visibleChange)="clostReturnDialog($event)">
    <users-general-items [company]="selectedReturn()?.company ?? null"
        [distributor]="selectedReturn()?.distributor ?? null"></users-general-items>
</p-dialog>
}