<div class="container-fluid">
  <div class="row">
    <p-dataview class="p-0" #dv currentPageReportTemplate="Showing {currentPage} of {totalPages} entries"
      [rowsPerPageOptions]="[5, 10, 25, 50, 100, 200, 500, 800]" [lazy]="lazyLoading"
      (onLazyLoad)="loadCarsLazy($event)" [value]="body.data" [totalRecords]="totalRecords" [rows]="rows"
      [paginator]="true" [layout]="layout">
      <ng-template #header>
        <p-toolbar class="p-0">
          <ng-template #start>
            @if(captionButton && captionButton.length > 0){
            @for (btn of captionButton; track $index) {
            @if((btn &&(btn.showCommand && btn.showCommand(body.data)) || (!btn.showCommand && true)) &&
            btn.isShow){
            @if(btn.permission){
            <p-button size="small" [severity]="'secondary'" [pTooltip]="btn.tooltip" [icon]="btn.icon ?? ''"
              (click)="btn.command ? btn.command(body.data) : null" />
            }
            @if(!btn.permission){
            <p-button size="small" [severity]="'secondary'" [pTooltip]="btn.tooltip" [icon]="btn.icon ?? ''"
              (click)="btn.command ? btn.command(body.data) : null" />
            }
            }
            }
            }
          </ng-template>
          <!-- <ng-template #end>
            <p-selectbutton [(ngModel)]="layout" [options]="options" [allowEmpty]="false">
              <ng-template #item let-item>
                <i class="pi" [ngClass]="{
                    'pi-bars': item === 'list',
                    'pi-table': item === 'grid'
                  }"></i>
              </ng-template>
            </p-selectbutton>
          </ng-template> -->
        </p-toolbar>
      </ng-template>
      @switch (layout) {
      @case ('list') {
      <ng-template #list let-items>
        <div class="full-con max-vh-70 d-flex flex-row flex-wrap align-items-start gap-2 px-3 py-2">
          @for (item of items; track $index) {
          <ng-container *ngTemplateOutlet="generalInfo; context:{
              $implicit: item,
              mode: 'list',
              classes: {
                container: 'item-con item-con-list w-100 d-flex flex-column flex-md-row',
                image: 'col-12 col-md-4 d-flex justify-content-center align-items-center img py-2',
                info: 'col-12 col-md-7 d-flex flex-column gap-2',
                buttons: 'buttons-template w-auto h-100 d-flex flex-row flex-md-column gap-2 p-2 rounded-start',
                dem: { width:'75px' }
              }
            }"></ng-container>
          }
        </div>
      </ng-template>
      }
      @case ('grid') {

      <ng-template #grid let-items>
        <div class="full-con w-100 py-2">
          <div class="d-flex max-vh-70 flex-wrap justify-content-start align-items-start px-3 py-2 gap-1">
            @for (item of items; track $index) {
            <ng-container *ngTemplateOutlet="generalInfo; context:{
                $implicit: item,
                mode: 'grid',
                classes: {
                  container: 'item-con col-12 col-sm-6 col-md-4 col-lg-3 gap-2 d-flex flex-column p-0',
                  image: 'w-100 py-2 img d-flex justify-content-center',
                  info: 'w-100 d-flex flex-column flex-wrap gap-2 px-2',
                  buttonsConatiner:'w-100 d-flex align-items-end justify-content-center gap-2',
                  buttons: 'buttons-template w-100 d-flex align-items-end justify-content-center gap-2 p-2',
                  dem: { height:'75px' }
                }
              }"></ng-container>
            }
          </div>
        </div>
      </ng-template>
      }
      }


    </p-dataview>
  </div>
</div>
<ng-template #generalInfo let-item let-mode="mode" let-classes="classes">
  <div class="item-con rounded-3" [ngClass]="classes.container">
    <!-- Image -->
    <div [ngClass]="classes.image">
      <ng-container *ngTemplateOutlet="img; context:{ $implicit: item, dem: classes.dem }"></ng-container>
    </div>

    <!-- Info + buttons -->
    <div [ngClass]="classes.info">
      <div class="d-flex flex-column flex-md-row w-100">
        <!-- Table Info -->
        <ng-container *ngTemplateOutlet="dataTable; context: { item: item, columns: body.columns }"></ng-container>

        <!-- Buttons -->
      </div>
    </div>
    <div class="d-flex align-items-md-end justify-content-md-end gap-2">
      <div [ngClass]="classes.buttons">
        <ng-container *ngTemplateOutlet="buttonsDiv; context:{ $implicit: item }"></ng-container>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #dataTable let-item="item" let-columns="columns">
  <table class="w-100 m-2">
    <tbody>
      @for (col of columns; track $index) {
      <tr class="d-flex">
        <td class="w-50" style="max-width: 50%;word-break: break-all;">{{ col.header }}:</td>
        <td class="w-50" style="max-width: 50%;word-break: break-all;">
          <div>
            @switch (col.HeaderType) {
            @case ('bool') {
            <i class="pi" [ngClass]="{
                                  'text-green-500 pi-check-circle': item[col.field],
                                  'text-red-500 pi-times-circle': !item[col.field]
                                }"></i>
            }
            @case ('DateTime') {
            <div>
              @if(item[col.field] !== null){
              <small>
                {{ item[col.field] | date : "dd-MM-yyyy" }}
              </small>
              }@else {
              <small>
                {{ item[col.field] }}
              </small>
              }
            </div>
            }
            @case ('float') {
            <div>
              @if(item[col.field] !== null){
              <small>
                {{ item[col.field] | number : "1.2-2" }}
              </small>
              }
            </div>
            }
            @case ('double') {
            <div>
              @if(item[col.field] !== null){
              <small>
                {{ item[col.field] | number : "1.2-2" }}
              </small>
              }
            </div>
            }
            @case ('currency') {
            <div>
              @if(item[col.field] !== null){
              <small>
                {{ item[col.field] | number : "1.0-2" }}
              </small>
              }
            </div>
            }
            @case ('Toggle') {
            <div>
              @if(hasToggleShow(col.field, item)){
              <p-toggleswitch [pTooltip]="item[col.field] ? 'True' : 'False'" [(ngModel)]="item[col.field]"
                [disabled]="hasToggledisable(col.field, item) ?? false"
                (onChange)="handleChange($event, col.field, item)"></p-toggleswitch>
              }@else {
              <small>
                {{ item[col.field] }}
              </small>
              }
            </div>
            }
            @case ('json') {
            <div>
              <button pButton pRipple pTooltip="download JSON file" icon="pi pi-download"
                (click)="downloadJSON(item[col.field])"></button>
            </div>
            }
            @case ('tag') {

            <div>
              <p-tag [value]="item[col.field]" [severity]="getSeverity(item)" />
            </div>
            }
            @default {
            <small>
              {{ item[col.field] }}
            </small>
            }
            }
          </div>
        </td>
      </tr>
      }
    </tbody>
  </table>
</ng-template>
<ng-template #buttonsDiv let-item>
  @for (btn of item.buttons; track $index) {
  @if(((btn.showCommand && btn.showCommand(item)) || btn.isShow)){
  @if(btn.permission){
  <p-button size="small" [severity]="'secondary'" [rounded]="true" [pTooltip]="btn.tooltip" [icon]="btn.icon ?? ''"
    (click)="btn.command(item, item.buttons); hitAction.emit({ key: btn.key, rowDataId: item.Id })" />
  }@else {
  <p-button size="small" [severity]="'secondary'" [rounded]="true" [pTooltip]="btn.tooltip" [icon]="btn.icon ?? ''"
    (click)="btn.command(item, item.buttons); hitAction.emit({ key: btn.key, rowDataId: item.Id })" />
  }
  }
  }
</ng-template>
<ng-template #img let-item let-dem="dem">
  @if(getImageValue(item,imageField)){
  <img [style]="dem" [src]="getImageValue(item,imageField)" />

  }@else {
  <i class="pi pi-user" style="font-size: 75px !important"></i>
  }
</ng-template>