<dynamic-table [lazyLoading]="true" [dataKey]="'requestID'" (onLazy)="tableConfig.getSub$.next($event)"
    [load]="tableConfig.get$" [buttons]="tableConfig.Buttons" [getSeverity]="getSeverity" [showHeader]="true"
    [captionButton]="tableConfig.captionButton">
</dynamic-table>
@if(returnVisible){
<p-dialog header="مرتجع" [modal]="true" [(visible)]="returnVisible" [style]="{ width: '60rem' }"
    (visibleChange)="clostReturnDialog($event)">
    <div class="d-flex flex-column gap-4 w-100">
        @for (item of selectedRequest()?.requestItems;let index=$index;let last=$last; track $index) {
        <div class="d-flex flex-column gap-2 w-100 pb-2" [ngClass]="last ? 'border-bottom border-2' : ''">
            <p class="w-100 text-center" style="background-color: var(--p-primary-500);color: var(--p-surface-50);">
                {{index + 1}}
            </p>
            <div class="d-flex gap-2 mt-4 w-100">
                <dynamic-input [FEcontrol]="getControl(index,'variantName')" [object]="objs[1]"></dynamic-input>
                <dynamic-input [FEcontrol]="getControl(index,'quantityToReturn')" [object]="objs[2]"></dynamic-input>
                <dynamic-input [FEcontrol]="getControl(index,'reason')" [object]="objs[3]"></dynamic-input>
            </div>
        </div>
        }

        <p-button label="حفظ" icon="pi pi-check" severity="success" (onClick)="return()"></p-button>
    </div>

</p-dialog>
}
@if(itemsVisible){
<p-dialog header="المنتجات" [modal]="true" [(visible)]="itemsVisible" [style]="{ width: '60rem' }"
    (visibleChange)="clostReturnDialog($event)">
    <product-general-items [source]="items()"></product-general-items>

</p-dialog>
}
@if(usersVisible){
<p-dialog header="المستخدمين" [modal]="true" [(visible)]="usersVisible" [style]="{ width: '60rem' }"
    (visibleChange)="clostReturnDialog($event)">
    <users-general-items [company]="selectedRequest()?.company ?? null"
        [distributor]="selectedRequest()?.distributor ?? null"></users-general-items>
</p-dialog>
}
@if(reviewVisible && !selectedRequest()?.reviews){
<p-dialog header="التقييم" [modal]="true" [(visible)]="reviewVisible" [style]="{ width: '60rem' }"
    (visibleChange)="clostReturnDialog($event)">
    <review-submit [requestID]="selectedRequest()?.requestID ?? 0" [withOutput]="true"
        (onSubmit)="reviewVisible=false;tableConfig.getSub$.next({})"></review-submit>
</p-dialog>
}