::ng-deep .offer-con {
  .helper {
    position: relative !important;
  }
  .p-floatlabel label {
    position: relative !important;
    top: 0 !important;
  }
}
::ng-deep .array-show {
  .p-accordionheader {
    padding-block: 0 !important;
    background-color: var(--p-amber-500) !important;
    border-radius: 0 !important;
  }
}
