@use "../../../../../../public/mixin" as *;
@use "../../../../../../public/font" as *;
.item-div {
  height: 275px;
  position: relative;
  direction: rtl;
  &:hover {
    .detail-div {
      opacity: 1;
    }
    .secondary-img {
      opacity: 1 !important;
    }
    .primary-img {
      opacity: 0 !important;
    }
    .auto-height {
      height: 80px !important;
      padding-block: 0.5rem;
    }
  }
  .secondary-img,
  .primary-img {
    transition: 0.75s ease-in-out opacity;
    padding-inline: 7.5%;
  }
  .detail-div,
  .auto-height {
    transition: 0.75s ease-in-out height, 0.75s ease-in-out padding;
  }
  .detail-div {
    opacity: 1;
    right: 7.5%;
    left: 7.5%;
    bottom: 0px;
    background-color: var(--p-primary-400);
    color: var(--p-primary-50);
    .auto-height {
      height: 0;
      overflow-y: hidden;
      position: relative;
    }
    .ellipsis-multiline {
      display: -webkit-box;
      -webkit-line-clamp: 2; /* Number of lines */
      -webkit-box-orient: vertical;
      overflow: hidden;
      @include responsive-font-sizes(0.625rem, 0.7rem, 0.756rem, 0.8125rem);
      > * {
        @include responsive-font-sizes(0.625rem, 0.7rem, 0.756rem, 0.8125rem);
      }
    }
    .ellipsis-oneline {
      display: -webkit-box;
      -webkit-line-clamp: 1; /* Number of lines */
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }
  @include forTablet {
    & {
      height: 300px;
      .detail-div {
        height: auto !important;
        .auto-height {
          height: auto !important;
        }
      }
    }
  }
}

::ng-deep .ellipsis-multiline {
  @include responsive-font-sizes(0.625rem, 0.7rem, 0.756rem, 0.8125rem);
  > * {
    @include responsive-font-sizes(0.625rem, 0.7rem, 0.756rem, 0.8125rem);
  }
}
