/* You can add global styles to this file, and also import other style files */
@use "../public/_general.scss" as *;
@use "../public/_font.scss" as *;
@use "../public/_mixin.scss" as *;
@use "../public/_color.scss" as *;
@import "primeicons/primeicons.css";
html,
body {
  height: 100%;
  width: 100%;
  font-family: "Noto Kufi";
  direction: rtl;
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: inherit;
  }

  @include responsive-headings();
  @include form-theme-mode();
}
body {
  overflow: hidden;
  background-color: var(--p-content-background);
  /* The entire scrollbar */
  ::-webkit-scrollbar {
    position: absolute;
    width: 10px; /* Width of the vertical scrollbar */
    height: 10px; /* Height of the horizontal scrollbar */
  }
  img {
    pointer-events: none;
    user-select: none;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none;
  }

  tr th,
  tr .p-datatable-frozen-column {
    color: var(--p-text-color);
    background-color: var(--p-surface-50);
  }
  /* The track (background) of the scrollbar */
  ::-webkit-scrollbar-track {
    background-color: var(--p-surface-300); /* Color of the track */
    border-radius: 2px; /* Rounded corners */
  }

  /* The handle (thumb) of the scrollbar */
  ::-webkit-scrollbar-thumb {
    background: var(--p-amber-600); /* Color of the thumb */
    border-radius: 2px; /* Rounded corners */
  }

  /* The handle (thumb) on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--p-amber-500); /* Color of the thumb on hover */
  }
}
html.dark body {
  ::-webkit-scrollbar-track {
    background-color: var(--p-surface-800); /* Color of the track */
    border-radius: 2px; /* Rounded corners */
  }
  .title-logo,
  .icon-logo {
    filter: brightness(0.15);
  }
  tr th,
  tr .p-datatable-frozen-column {
    color: var(--p-text-color);
    background-color: var(--p-surface-800);
  }
}
/* Define keyframe animations */
@keyframes rotate-out {
  to {
    transform: rotate(90deg);
  }
}
@keyframes rotate-in {
  from {
    transform: rotate(-90deg);
  }
}
/* Target view transition pseudo-elements */
::view-transition-old(count),
::view-transition-new(count) {
  animation-duration: 2000ms;
  animation-name: -ua-view-transition-fade-in, rotate-in;
}
::view-transition-old(count) {
  animation-name: -ua-view-transition-fade-out, rotate-out;
}
