<div class="container-fluid">
    <div class="p-4 row" style="background-color: var(--p-primary-500);">
        <div class="col-12 col-md-6">
            <div class="row h-100 d-flex flex-column justify-content-between" style="color: var(--p-surface-50);">
                <div class="d-flex flex-column align-items-center pt-2">
                    <h3 class="text-center">{{company?.name}}</h3>
                    <p class="w-100">{{company?.companyDescription}}</p>
                </div>
                <div style="border-top: 4px solid var(--p-amber-500);"
                    class="d-flex flex-column align-items-center pt-2">
                    <p>{{company?.address}}</p>
                    <p>{{company?.phoneNumber}}</p>
                    <p>{{company?.commercialRegistrationNumber}}</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <p-galleria [value]="images" [indicatorsPosition]="'bottom'" [showIndicators]="true"
                [showThumbnails]="false" [showIndicatorsOnItem]="true"
                [containerStyle]="{ 'max-width': '640px', 'margin-top': '2em' }">
                <ng-template pTemplate="item" let-item>
                    <img [src]="item.itemImageSrc" style="display: block;"
                        style="aspect-ratio: 1/1;max-height: 350px;" />
                </ng-template>
            </p-galleria>
        </div>
    </div>
    <div class="row px-2" style="background-color: var(--p-primary-500);">
        <p-tabs [selectOnFocus]="true" [scrollable]="true" [value]="tabindex">
            <p-tablist>
                @for (tab of collectionsData; track $index) {
                <p-tab [value]="tab.collection.id">{{ tab.collection.name }}</p-tab>
                }
            </p-tablist>
            <p-tabpanels>
                @for (tab of collectionsData; track $index) {
                @defer (on viewport){
                <p-tabpanel [value]="tab.collection.id">
                    <prod-general-list [data]="tab.products" [header]="tab.collection.name"></prod-general-list>
                </p-tabpanel>
                }@placeholder {
                <div></div>
                }
                }
            </p-tabpanels>
        </p-tabs>
    </div>
</div>
<svg id="svg" xmlns="http://www.w3.org/2000/svg" class="transition duration-300 ease-in-out delay-150"
    viewBox="0 0 1440 343.7">
    <path
        d="M 0,400 L 0,100 C 89.25,73.14285714285714 178.5,46.28571428571429 295,60 C 411.5,73.71428571428571 555.25,127.99999999999997 704,142 C 852.75,156.00000000000003 1006.5,129.71428571428572 1130,116 C 1253.5,102.28571428571428 1346.75,101.14285714285714 1440,100 L 1440,400 L 0,400 Z"
        stroke="none" stroke-width="0" fill="#00aaa5" fill-opacity="0.53"
        class="transition-all duration-300 ease-in-out delay-150 path-0" transform="rotate(-180 720 200)"></path>
    <path
        d="M 0,400 L 0,233 C 133.60714285714286,222.03571428571428 267.2142857142857,211.07142857142858 378,220 C 488.7857142857143,228.92857142857142 576.75,257.75 708,253 C 839.25,248.25 1013.7857142857142,209.92857142857142 1143,201 C 1272.2142857142858,192.07142857142858 1356.107142857143,212.53571428571428 1440,233 L 1440,400 L 0,400 Z"
        stroke="none" stroke-width="0" fill="#00aaa5" fill-opacity="1"
        class="transition-all duration-300 ease-in-out delay-150 path-1" transform="rotate(-180 720 200)"></path>
</svg>