<div class="w-100 p-2 row" style="box-shadow: inset 0px 0px 5px 0px;">
    @for (reqItem of source;let i = $index; track $index) {
    <div class="col-12 col-md-6 col-lg-4 m-2 d-flex flex-column justify-content-start border border-2 shadow p-2"
        style="width: 30%;">
        <p class="w-100 text-center fw-bold" style="background-color: var(--p-primary-500);color: var(--p-surface-50)">
            {{i + 1}}</p>
        <ul class=" p-2" style="list-style-type: none;color: var(--p-text-color);text-wrap: auto;">
            <li class="fw-bold border-bottom pb-2 mb-2">المنتج : {{reqItem.variantName}}</li>
            @if(reqItem){
            <li>السبب : {{reqItem.reason}}</li>

            }
            <li>الكمية : {{reqItem.quantity}}</li>
            <li>السعر قبل الخصومات : {{reqItem.originalPrice}}</li>
            <li>السعر بعد الخصومات : {{reqItem.finalPrice}}</li>
            <li class="border-top border-2 mt-2 py-2 fw-bold">السعر الكلي : {{reqItem.totalFinalPrice}}</li>
        </ul>
    </div>
    }
</div>